/*This represents the space witha  lack of items*/
.App {
  height: 100vh;
  background-color: rgb(32,34,37);
}

/*This represents all of the nav bar*/
.Nav {
  height: 100px;
  background-color: #020202;
}

/*This represents the area in which items hav been added*/
.Main {
  padding: 10px;
  background-color: rgb(32,34,37);
}

@font-face {
  font-family: "sometimes";
  src: url(../Fonts/Sometimes.otf);
}

