/*This represents the space witha  lack of items*/
.App {
  height: 100%;
  width: 100%;
  background-color: rgb(32, 34, 37);
}

/*This represents all of the nav bar*/
.Nav {
  background-color: #020202;
  height: 90px;
}

/*This represents the area in which items hav been added*/
.Main {
  background-color: rgb(32, 34, 37);
}

@font-face {
  font-family: "sometimes";
  src: url(../Fonts/Sometimes.otf);
}
