body{
    overflow: hidden;
}

.filtersBar{
    background-color: black;
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
}

.filters{
    font-size: 64px;
    margin-top: 50%;
    text-align: center;
    color: white;
    border: none;
    
}

.sortButtons{
    margin-left: 50%;
    font-size: 20px;
}

.sortButtons button{
    display: block;
    transform: translate(-50%);
    padding: 5%;
    margin-top: 5%;
}

.sortButtons button.toggled{
    background-color: rgb(32, 34, 37);
    color: white;
}

.badgesContainer{
    color: white;
    position: absolute;
    margin-left: 15%;
    padding: 3%;
    width: 80%;
    columns: 2;
}

.badgeIcon{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-bottom: 6px;
}

.badgesUnlocked{
    display: block;
}

.badgesLocked{
    position: block;
}

.seperator{
    height: 1px;
    position: relative;
    background-color: white;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.seperator2, .seperator3{
    height: 1px;
    width: 80%;
    background-color: white;
}


.heading{
    font-size: 64px;
    margin-left: 5%;
}






