body{
    overflow: hidden;
    overflow-x: hidden;
}

.filtersBar{
    color: black;
    background-color: black;
    width: 300px;
    height: 110%;
    position: fixed;
    top: 0;
}

.filters{
    font-size: 64px;
    margin-top: 14.5vh;
    text-align: center;
    color: white;
    border: none;
}

.seperator, .seperator2, .seperator3{
    background-color: white;
    width: 250px;
    height: 1px;
    position: absolute;
    
}

.seperator{
    left: 50%;
    transform: translate(-50%);
}

.seperator2{
    position: fixed;
    width: 700px;
    left: 340px;
    top: 220px;
}

.seperator3{
    position: fixed;
    width: 700px;
    left: 1140px;
    top: 220px;
}

.sortButtons{
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
}

.sortButtons button{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.sortButtons button.toggled{
    background-color: rgb(32, 34, 37);
    color: white;
}



.badgesContainer{
    color: white;
    position: absolute;
    margin-left: 300px;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.badgesUnlocked{
    position: absolute;
    padding: 20px;
    left: 0;
    top: 0;
    width: 40%;
    margin-left: 3vh;
    margin-top: 3vh;
}

.badgesLocked{
    position: absolute;
    padding: 20px;
    width: 40%;
    left: 42%;
    top: 0;
    margin-left: 3vh;
    margin-top: 3vh;
}

.icon{
    margin-top: 200px;
    float: left;
    font-size: 100px;
    position: static;
}

.heading{
    font-size: 64px;
    position: fixed;
}

.headingBar{
    background-color: rgb(53, 53, 53);
    position: fixed;
    width: 50%;
    height: 500px;
    margin-top: -20.5%;
    margin-left: -2.5%;
    z-index: 0;
}

.rect{
    width: 100%;
    height: 50%;
}