body {
  margin: 0;
  /* font-family: "Sometime", sans-serif; */
  /* font-size: 2em; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
