.m-memories {
  color: white;
  font-size: 2em;
  height: 100%;
  width: 100%;
}
.m-title {
  text-align: center;
}

.calanderDrawing {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 4%;
  height: 100%;
}
.drawingContainer {
  display: flex;
  flex-direction: row;
}
.arrow {
  position: relative;
  top: 50%;
}
.m-drawing {
  color: black;
  width: 60%;
  background-color: white;
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
}

.calender {
  padding: 3%;
}

.downloadButton {
  all: unset;
}

.cal {
  font-size: 0.8em;
}
