.m-memories {
  font-size: 2em;
  height: 100%;
  width: 100%;
}
.m-title {
  text-align: center;
}

.calanderDrawing {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 4%;
  height: 100%;
}
.drawingContainer {
  display: flex;
  flex-direction: row;
}
.arrow {
  position: relative;
  top: 50%;
  color: white;
}
.m-drawing {
  color: rgb(54, 54, 54);
  width: 60%;
  background-color: rgb(54, 54, 54);
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
}
.twoButtons {
  margin-left: 5%;
}
.downloadButton {
  all: unset;
}

.cal {
  margin-left: 5%;
  margin-top: 70px;
  font-size: 0.5em;
}

.highlight {
  background-color: grey;
  border-radius: 50%;
}
.highlight:hover {
  background-color: black !important;
  color: white;
}
.react-calendar {
  font-family: "Helvetica", "Arial", sans-serif;
}

.react-calendar__tile {
  font-family: "Helvetica", "Arial", sans-serif;
}

.react-calendar__month-view__days__day {
  font-family: "Helvetica", "Arial", sans-serif;
}
.react-calendar__navigation__label {
  font-family: "Helvetica", "Arial", sans-serif;
}
.react-calendar__month-view__weekdays {
  font-family: "Helvetica", "Arial", sans-serif;
}
.react-calendar__month-view__weekdays__weekday {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
  text-transform: none;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: underline !important;
}
