
@font-face {
    font-family: "sometimes";
    src: url(../Fonts/Sometimes.otf);
}

.Title{
    font-family: "sometimes";
    font-size:100px;
    color: rgb(255, 255, 255);
    /* border-bottom: 2px solid rgb(255, 255, 255); */
    /* margin-left: 33%;
    margin-right: 38%; */
    margin-bottom: 1%;

    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

.PromptName{
    font-family: "sometimes";
    font-size:10;
    color: rgb(255, 255, 255);
    /* margin-left: 40%;
    margin-bottom: 0%; */
    text-align: center;
}

/*I've coloured the region grey so you can see the space.*/
.UserProfile{
    margin-left: 5%;
    margin-right: 5%;
    /*background-color: grey;*/
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid rgb(57,59,61);
    border-bottom: 2px solid rgb(57,59,61);
}

/*Each User profile is composed of user elements*/
.UserElement{
    color: white;
    font-size: 30px;
    /*margin-left:5%;
    margin-right:5%;*/
    margin-bottom: -0%;
    height: 6cm;
    /*display:inline-flex;*/
    flex: 0 0 25%;
    padding: 10px;

}
.UserElement img{
    max-width: 200px;

}

*{
    margin: 0;
    box-sizing: border-box;
}

.UserName{
    font-family: "sometimes";
    font-size:33px;
    color: rgb(255, 255, 255);
    /* border-bottom: 2px solid rgb(255, 255, 255); */
    margin-right: 58%;
    margin-bottom: 0%;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.Stats{
    font-family: "sometimes";
    font-size:25px;
    color: rgb(255, 255, 255);
    margin-bottom: -2%;
}

.StarBar{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    display:flow-root;
}

.Star1{
    color: rgb(253,205,18);
    background-color: rgb(45,45,45);
    border-style: hidden;
    border-radius: 0%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;

}

.Star{
    color: rgb(253,205,18);
     background-color: rgb(45,45,45);
    border-style: hidden;
    border-radius: 0%;

}

.Star5{
    color: rgb(253,205,18);
    background-color: rgb(45,45,45);
    border-style: hidden;
    border-radius: 0%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.CommentButton{
    font-size: 60px;
    margin-top: 15%;
    color: rgb(255, 255, 255);
}


.StarBar{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.StarRating{
   color: rgb(253,205,18);
   border-style: hidden;
   border-radius: 0%;
}
