body.font div {
    font-family: 'insta';
    font-size: 101%;

}

body.font h1 {
    font-family: 'insta';
    font-size: 102%;

}

body.font input {
    font-size: 101%;
}

body.font h2 {
    font-family: 'insta';
    font-size: 102%;

}

body.font .buttonstyle {
    font-size: 97%;
}