body.font div {
    font-family: 'Handmade';
}

body.font h1 {
    font-family: 'Handmade';
}

body.font h2 {
    font-family: 'Handmade';
}

body.font label {
    font-family: 'Handmade';
}

body.font input {
    font-family: 'Handmade';
}

body.font button {
    font-family: 'Handmade';
}