body.light-mode .App {
    background-color: rgb(201, 230, 255)
}

body.light-mode .Main {
    background-color: rgb(201, 230, 255)
}

body.light-mode h1 {
    color: rgb(0, 0, 0);
}

body.light-mode h2 {
    color: rgb(0, 0, 0);
}



body.light-mode div {
    color: black;
}

body.light-mode .CommentsBox {
    background-color: rgb(255, 198, 192);
    border: 1px solid black;
}

body.light-mode .UserProfile {
    background-color: rgb(239, 211, 255);
    border: 1px solid black;
}

body.light-mode .UserElement img {
    border: 1px solid black;
}

body.light-mode .menu {
    background-color: rgb(245, 245, 245);

}

body.light-mode .menu button {
    background-color: rgb(245, 245, 245);
    color: black;
}

body.light-mode .menu-header {
    border-color: #000000;
    color: black
}


body.light-mode .input input {
    background-color: white;
    border: 1px solid black;
    color: rgb(0, 0, 0);

}

body.light-mode .Friends-list {
    background-color: rgb(240, 211, 255);
    border: 1px solid black;
}

body.light-mode .Friends-list {
    background-color: rgb(240, 211, 255);
    border: 1px solid black;
}

body.light-mode .Friends-m-list {
    background-color: rgb(240, 211, 255);
    border: 1px solid black;
}

body.light-mode .User-m-preview {

    border: 1px solid black;
}

body.light-mode .User-preview {

    border: 1px solid black;
}

body.light-mode .friendSidebar {
    background-color: rgb(245, 245, 245);
}

body.light-mode .friendSidebar button {
    background-color: rgb(245, 245, 245);
    color: black;
}

body.light-mode .friendSidebar-header {
    border-color: #000000;
    color: black
}

body.light-mode .Profile-details {
    background-color: rgb(240, 211, 255);
    border: 1px solid black;

}

body.light-mode .Profile-badges-container {
    border: 1px solid black;
}

body.light-mode .Profile-bio-container {
    border: 1px solid black;
}

body.light-mode .Profile-picture {
    border: 1px solid black;
}

body.light-mode .Profile-fav-draw {
    border: 1px solid black;
}

body.light-mode .Background {
    background-color: rgb(255, 255, 255);
}

body.light-mode .disclaimer {
    background-color: rgb(214, 214, 214);
    border: 1px solid black
}

body.light-mode .input textarea {
    background-color: white;
    border: 1px solid black;
    color: rgb(0, 0, 0);
}

body.light-mode .search-bar input {

    border: 1px solid black;
}

body.light-mode .menu button:not([aria-current="true"]):hover {
    background-color: rgb(172, 172, 172);
    color: #000000;
}

body.light-mode .menu button:not([aria-current="true"]):focus {
    background-color: rgb(221, 221, 221);
    color: #000000;
}

body.light-mode .account-container img {
    border: 1px solid black;
}

body.light-mode .stats {
    background-color: rgb(255, 218, 237)
}

body.light-mode .badges-container {
    background-color: rgb(255, 179, 170);
}

body.light-mode .sub {
    color: rgb(97, 97, 97);
}


body.light-mode .m-drawing {
    border: 1px solid black;
}

body.light-mode .downloadButton button {
    background-color: rgb(255, 227, 176);
    border: 1px solid black;
    color: black
}

body.light-mode .setProfileButton button {
    background-color: rgb(255, 227, 176);
    border: 1px solid black;
    color: black
}

body.light-mode .SubmitButton {
    background-color: rgb(255, 227, 176);
    border: 1px solid black;
    color: black
}

body.light-mode .StarBar button {
    background-color: rgb(70, 70, 70);
}

body.light-mode .CommentBar {
    border: 1px solid black;
}

body.light-mode .CommentSection {
    border: 1px solid black;
}

body.light-mode .SubCom button {
    background-color: rgb(255, 227, 176);
    border: 1px solid black;
    color: black
}

body.light-mode .react-calendar {
    background-color: rgb(243, 243, 255);
    border: 1px solid black;

}

body.light-mode .Drawings {
    background-color: rgb(255, 174, 174);
    border: 1px solid black;
}

body.light-mode .privacy {
    background-color: rgb(255, 202, 158);
    border: 1px solid black;
}