body.pog div {
    font-family: 'TOMISPOG';
    font-size: 104%
}

body.pog h1 {
    font-family: 'TOMISPOG';
    font-size: 160%
}

body.pog h2 {
    font-family: 'TOMISPOG';
    font-size: 160%
}

body.pog .input input {
    font-size: 100%;
    position: absolute;
    left: 30%;
}

body.pog .input {
    font-size: 80%;
}

body.pog .input textarea {
    font-size: 120%;
    position: absolute;
    left: 30%;
}

body.pog button {
    font-size: 80%;
}

body.pog .sub {
    font-size: 20px;
    margin-top: 10px;
}